<!--<%= @user.inspect %> -->
<h1>Edit Password</h1>
<%= form_for(@user, url:change_password_path(@user.id), method: :post) do |f| %>
	<% if @user.errors.any? %>
	<div class="alert alert-danger">
		<% @user.errors.full_messages.each do |m| %>
			<div class=""><%= m %></div>
		<% end %>
	</div>
	<% end %>
	<div class="mb-3">
		<%= f.label :old_password, "Old Password",class: "form-label" %>
		<%= f.password_field :old_password, class: "form-control" %>
	</div>
	<div class="mb-3">
		<%= f.label :password,class: "form-label" %>
		<%= f.password_field :password, class: "form-control" %>
	</div>
	<div class="mb-3">
		<%= f.label :password_confirmation,class: "form-label" %>
		<%= f.password_field :password_confirmation, class: "form-control" %>
	</div>
	<%= submit_tag "Change", class: "btn btn-primary" %>
<% end %>

	 <!--<div class="mb-3">
		<%= label_tag :password ,"password" %>
		<%= password_field_tag :password,"", class: "form-control" %>
	</div> -->
